nav{
    width: 36%;
    margin-top: 2vh;
    height: 78vh;
    padding-top: 2vh;
    padding-left: 4%;
    border-radius: 5px 5px 20px 5px;
    background-color: brown;
    color: yellow;
    font-family: ALGERIAN;
    font-size: 4vh;
    display: none;
}

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
    line-height: 2;
}
  
li {
    padding-left: var(--icon-space);
}
  
li:before {
    content: "\f068"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

#ClickIt{
    margin-top: 2vh;
    margin-left: 3vw;
    font-size: 6vh;
    color: black;
}